In [1]:
import pandas as pd

In [2]:
names = ['Bob', 'Jessica', 'Mary', 'John', 'Mel']
births = [968, 155, 77, 578, 973]
custom = [1, 5, 25, 13, 23232]

BabyDataSet = list(zip(names, births))
df = pd.DataFrame(data=BabyDataSet, columns=['Name', 'Births'])

df.head()

      Name  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973