In [1]:
import pandas as pd

In [3]:
names = ['Bob', 'Jessica', 'Mary', 'John', 'Mel']
births = [968, 155, 77, 578, 973]
custom = [1, 5, 25, 13, 23232]

BabyDataSet = list(zip(names, births))
df = pd.DataFrame(data=BabyDataSet, columns=['Name', 'Births'])

df.head()

      Name  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [4]:
df.dtypes

Name      object
Births     int64
dtype: object

In [5]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [6]:
df.columns

Index(['Name', 'Births'], dtype='object')

In [9]:
df['Name']

0        Bob
1    Jessica
2       Mary
3       John
4        Mel
Name: Name, dtype: object

In [11]:
df[df['Births'] > 100]

      Name  Births
0      Bob     968
1  Jessica     155
3     John     578
4      Mel     973

In [14]:
df['Births'].mean()

np.float64(550.2)